{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

    <link rel="stylesheet" href="{% static 'css/details.css' %}">

{% endblock %}

{% block content %}

    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 g-2 g-lg-3 mt-3">

            <div class="col col-sm-3">
                <div class="image">

                    <img src="{{ anime.image }}" class="img-fluid" alt="Responsive image" width="282px" height="477px">

                </div>
            </div>

            <div class="col mx-auto">
                <div class="anime-description">
                    <p class="anime-title">{{ anime.title }}</p>
                    <p class="anime-puntuation">Score {{ anime.score }} &emsp; Rank <a
                            href="{% url 'index' %}?order=rank"> {{ anime.rank }}#</a> &emsp; Popularity <a
                            href="{% url 'index' %}?order=popularity">{{ anime.popularity }}#</a></p>
                    <p class="anime-episodes ms-2">Episodes: {{ anime.episodes }} &emsp; Type: {{ anime.type }} &emsp;
                        Status: {{ anime.status }}</p>
                    <p class="anime-genres ms-2">Genres: {% for genre in anime.genres.all %}
                        <a href="{% url 'index' %}?genre={{ genre.name }}">{{ genre.name }}</a>
                        {% if not forloop.last %} | {% endif %} {% endfor %}</p>
                    <p class="anime-studios ms-2">Studios: {% for studio in anime.studios.all %}
                        <a href="{% url 'index' %}?studio={{ studio.name }}">{{ studio.name }}</a>
                        {% if not forloop.last %} | {% endif %} {% endfor %}</p>
                    <p class="anime-dates ms-2">Start date: {% if anime.date_start %} {{ anime.date_start }} {% else %}
                        - {% endif %}</p>
                    <p class="anime-dates ms-2">End date: {% if anime.date_end %} {{ anime.date_end }} {% else %}
                        - {% endif %}</p>
                    {% if user.is_authenticated %}

                        <p id="no-watch" class="ms-2 mb-2" style="display: none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                 class="bi bi-0-circle" viewBox="0 0 16 16" onclick="changedWatched()">
                                <path d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99ZM8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895Z"/>
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                            </svg>
                            To see
                        </p>

                        <p id="watch" class="ms-2 mb-2" style="display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-0-circle-fill" viewBox="0 0 16 16" onclick="changedWatched()">
                            <path d="M8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895Z"/>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-8.012 4.158c1.858 0 2.96-1.582 2.96-3.99V7.84c0-2.426-1.079-3.996-2.936-3.996-1.864 0-2.965 1.588-2.965 3.996v.328c0 2.42 1.09 3.99 2.941 3.99Z"/>
                        </svg>
                        Watched

                    {% endif %}

                </div>

            </div>

        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="anime-synopsis">
                    <p class="anime-synopsis-title">Synopsis</p>
                    <p class="anime-synopsis-text">{{ anime.synopsis }}</p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 mt-5">
            {% for a in animes %}
                <div class="col">
                    <div class="card mb-3" style="width: 18rem">
                        <a href="{% url 'anime_detail' a.id %}">
                            <img src="{{ a.image }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ a.title }}</h5>
                            <p class="card-text">{{ a.get_synopsis_limit }}</p>
                            <p class="card-text">
                                <small class="text-muted me-1">Score: {{ a.score }}</small>
                                <small class="text-muted me-1">Rank {{ a.rank }}#</small>
                                <small class="text-muted">Popularity {{ a.popularity }}#</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <script>
        function preWatched() {
            if ('{{ watched }}' === 'True') {
                document.getElementById("watch").style.display = "block";
            } else {
                document.getElementById("no-watch").style.display = "block";
            }
        }

        function changedWatched() {

            async function change() {
                const response = await fetch('{% url 'add_remove_anime_whatchlist' anime.id %}', {
                    method: 'GET',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url// body data type must match "Content-Type" header
                },);
            }

            if (document.getElementById("watch").style.display === "block") {

                change();

                document.getElementById("watch").style.display = "none";
                document.getElementById("no-watch").style.display = "block";
            } else {

                change();

                document.getElementById("watch").style.display = "block";
                document.getElementById("no-watch").style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", preWatched);
    </script>

{% endblock %}