{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}


{% block content %}

    <div class="container-fluid">

        <fieldset>
            <legend class="mt-2">Filters</legend>
            <div class="row row-cols-1 row-cols-md-3 mt-3">
                <div class="col">
                    <select class="form-control" onchange="location = this.value">
                        <option value="-1">Select Genre</option>
                        {% for genre in genres %}
                            <option value="?genre={{ genre.name }}">
                                {{ genre.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" onchange="location = this.value">
                        <option value="-1">Select Studio</option>
                        {% for studio in studios %}
                            <option value="?studio={{ studio.name }}">
                                {{ studio.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" onchange="location = this.value">
                        <option value="-1">Select Type</option>
                        {% for type in types %}
                            <option value="?type={{ type.name }}">
                                {{ type.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" onchange="location = this.value">
                        <option value="-1">Select Status</option>
                        {% for statu in status %}
                            <option value="?status={{ statu.name }}">
                                {{ statu.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>


    </div>

    <div class="container">

        <div class="row row-cols-1 row-cols-sm-3 g-2 g-lg-3 mt-3">

            {% for anime in animes %}

                <div class="col-sm">
                    <div class="card mb-3" style="max-width: 580px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="{% url 'anime_detail' anime.id %}">
                                    <img src="{{ anime.image }}" class="img-fluid rounded-start" alt="...">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ anime.title }}</h5>
                                    <p class="card-text">{{ anime.get_synopsis_limit }}</p>
                                    <p class="card-text">
                                        <small class="text-muted me-1">Score: {{ anime.score }}</small>
                                        <small class="text-muted me-1">Rank {{ anime.rank }}#</small>
                                        <small class="text-muted">Popularity {{ anime.popularity }}#</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" id="previous-page" href="#">Anterior</a></li>

                    {% for p in max_pages %}
                        <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item"><a class="page-link" id="nex-page" href="#">Next</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <script>

        function get_page() {
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');

            if (page == null) {
                return 1;
            }

            return page;
        }

        function pagination() {
            const page = get_page();
            const previous_page = document.getElementById('previous-page');
            const next_page = document.getElementById('nex-page');

            let order = '';
            let genre = '';
            let type = '';
            let status = '';

            if (window.location.search.includes('order')) {
                const urlParams = new URLSearchParams(window.location.search);
                order = '&order=' + urlParams.get('order');
            }
            if (window.location.search.includes('genre')) {
                const urlParams = new URLSearchParams(window.location.search);
                genre = '&genre=' + urlParams.get('genre');
            }

            if (window.location.search.includes('type')) {
                const urlParams = new URLSearchParams(window.location.search);
                type = '&type=' + urlParams.get('type');
            }

            if (window.location.search.includes('status')) {
                const urlParams = new URLSearchParams(window.location.search);
                status = '&status=' + urlParams.get('status');
            }

            let query = '' + order + genre + type + status;

            if (page == 1) {
                previous_page.setAttribute('href', '{% url 'index' %}' + '?' + query);
            } else {
                previous_page.setAttribute('href', '{% url 'index' %}?page=' + (page - 1) + query);
            }

            const max_pages = {{ max_pages|length }};

            if (page == max_pages) {
                next_page.setAttribute('href', '{% url 'index' %}?page=' + max_pages + '?' + query);
            } else {
                next_page.setAttribute('href', '{% url 'index' %}?page=' + (parseInt(page) + 1) + query);
            }

            let numbers_pages = document.getElementsByClassName('page-link');

            for (let i = 0; i < numbers_pages.length; i++) {
                numbers_pages[i].setAttribute('href', numbers_pages[i].getAttribute('href') + query);
            }

        }

        document.addEventListener('DOMContentLoaded', function () {
            pagination();
        });

    </script>

{% endblock %}
